body {
	margin: 0 auto;
}

.c-accordion__item {
	width: 100%;
	background-color: darkgrey;
	padding-left: 12px;
	
	&.is-open {
		.c-accordion__content {
			display: block;
		}
	}
}

.c-accordion__content {
	display: none;
}