$accordion-color--primary:          #CCC !default;
$accordion-border:                  1px solid $accordion-color--primary !default;
$accordion-width:                   100% !default;
$accordion-padding:                 20px !default;

$accordion-content-height:          100% !default;

.c-accordion {
	border: $accordion-border;
	width: $accordion-width;
}

.c-accordion__item {
	
	& .is-active {
		.c-accordion__content {
			height: $accordion-content-height;
		}
	}
}

.c-accordion__header {
	background-color: $accordion-color--primary;
	padding: $accordion-padding;
	text-transform: capitalize;
	
	&:hover {
		background-color: lighten($accordion-color--primary, 10%);
		text-decoration: underline;
		cursor: pointer;
	}
}

.c-accordion__content {
	height: 0;
	padding: 0 $accordion-padding;
	overflow: hidden;
	transition: all 0.3s ease;
}
