$tooltip-padding:               10px;
$tooltip-content-padding:       $tooltip-padding / 2;
$tooltip-content-color:         black;
$tooltip-triangle-width:        5px;
$tooltip-margin:                20px;
$tooltip-border-radius:         5px;


.c-tooltip {
  padding: $tooltip-padding;
  background-color: lightgray;
  cursor: pointer;
  position: relative;

  &:hover {
	.c-tooltip__content {
	  display: block;
	}
  }
}

.c-tooltip__content {
  display: none;
  position: absolute;
  background-color: $tooltip-content-color;
  color: white;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: $tooltip-margin;
  padding: $tooltip-content-padding;
  border-radius: $tooltip-border-radius;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: $tooltip-triangle-width solid transparent;
    border-top-color: $tooltip-content-color;
  }
}

